.site-layout .site-layout-background {
  height: 64px;
  padding: 0 12px 0 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  position: relative;
  vertical-align: middle;
}

.fold-icon {
  display: inline-block;
  width: 68px;
  height: 64px;
  padding: 0 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.fold-icon:hover {
  background-color: #e6f7ff;
}
.notice-icon {
  float: right;
  cursor: pointer;
  padding: 0 12px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
  vertical-align: top;
}
.notice-icon:hover {
  background-color: #e6f7ff;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #e6f7ff;
}
.my-dropdown li {
  width: 160px;
  line-height: 20px;
}
