* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}
.spin-wrapper {
  margin: 40px;
  text-align: center;
}
ul,
ol,
dl,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
.ant-layout-sider-light {
  -webkit-box-shadow: 0 0 6px 0 rgb(0 21 41 / 20%);
  box-shadow: 0 0 6px 0 rgb(0 21 41 / 20%);
}
.ant-layout-sider-light .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #4285f4;
  background-color: #edf3fe;
}
.ant-layout-sider-light .ant-menu-inline .ant-menu-item:after,
.ant-layout-sider-light .ant-menu-vertical .ant-menu-item:after {
  border: none;
}
*:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.ant-input-affix-wrapper-focused {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
}
